<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">UniEats</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/menu']">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/order-food']">Order Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/check-balance']">Check Balance</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<footer class="text-center mt-5 bg-black text-white">
  <p>&copy; 2023 UniEats. All rights reserved.</p>
</footer>
