<div class="register-container">
    <div class="register-box">
      <h1 class="brand-title">Contact Us</h1>
      <form>
        <div class="input-group">
          <label for="Name">Name</label>
          <input type="text" id="Name" placeholder="Enter Name" required />
        </div>
        <div class="input-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="tel" id="phoneNumber" placeholder="Enter Phone Number" required />
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter Email" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter Password" required />
        </div>
        <button type="submit" class="Submit-btn">Submit</button>
      </form>
    </div>
  </div>
  