/* Background styling */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
  }
  
  /* Contact box styling */
  .contact-box {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: max-content;
    width: 100%;
  }
  
  .brand-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff; /* Orange color */
    margin-bottom:auto ;
    padding: 2rem;
  }
  
  /* Input fields */
  .input-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  /* Buttons */
  .Submit-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
  }
  
  .Submit-btn:hover {
    background-color: #333;
  }
