body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('/Loginpage.jpg') no-repeat center center fixed; background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: #ff7300;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.btn-reset {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

  .btn-reset:hover {
    background-color: #555;
  }
