<div class="background-container">
  <div class="card">
    <h1 class="title">UniEats</h1>
    <h2 class="subtitle">Enter the email registered with your account</h2>
    <form (submit)="onResetPassword()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               class="form-control"
               [(ngModel)]="email"
               name="email"
               placeholder="Enter Email"
               required />
      </div>
      <button type="submit" class="btn-reset">Reset Password</button>
    </form>
  </div>
</div>
