<div class="header">
  <div class="logo">UniEats</div>
  <nav>
    <ul class="nav-links">

      <li><a (click)="navigateToHome()">Home</a></li>
      <li><a (click)="navigateToMenu()">Menu</a></li>
      <li><a (click)="navigateToReservation()">Reservation</a></li>
    </ul>
    <div class="user-icons">
      <i class="user-icon"></i>
      <i class="guest-icon"></i>
    </div>
  </nav>
</div>

<section class="hero-section">
  <div class="hero-content">
    <h1>Fuel for Minds</h1>
    <p>Campus eats, lifelong memories.</p>
    <button class="order-now-btn">Order Now</button>
  </div>
</section>
