<div class="checkout-with-cash">
  <div class="div">
    <div class="payment-method-card">
      <div class="ellipse-2"></div>
      <div class="text-wrapper-7">Payment Methods</div>
      <div class="text-wrapper-8">Cash On Delivery</div>
      <div class="ellipse-3"></div>
      <div class="text-wrapper-9">Credit or Debit</div>
      <img class="vector" src="img/vector-8.svg" />
    </div>
    <div class="overlap-6">
      <div class="personal-information">
        <div class="group">
          <div class="overlap-7">
            <div class="div-wrapper"><div class="text-wrapper-10">Your Name</div></div>
            <div class="text-wrapper-11">Personal Information</div>
            <div class="group-2">
              <div class="overlap-group-2"><div class="text-wrapper-10">Roll Number</div></div>
              <div class="overlap-8"><div class="text-wrapper-12">Seat Number</div></div>
            </div>
            <img class="vector" src="img/vector-5.svg" />
          </div>
        </div>
      </div>
      <img class="img" src="img/rectangle-10-2.svg" />
      <div class="text-wrapper-13">Phone Number</div>
      <img class="rectangle-3" src="img/rectangle-9.svg" />
      <div class="text-wrapper-14">Email</div>
    </div>
    <div class="overlap-9">
      <img class="item-card" src="img/item-card.png" />
      <p class="note-type-in-seat">
        <span class="span">Note:<br /></span>
        <span class="text-wrapper-15"><br /></span>
        <span class="text-wrapper-16">Type 0 in Seat Number for pickup</span>
      </p>
    </div>
    <img class="arrow-back" src="img/arrow-back.svg" />
  </div>
</div>
