.checkout-with-cash {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.checkout-with-cash .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1500px;
  position: relative;
}

.checkout-with-cash .footer {
  position: absolute;
  width: 1454px;
  height: 478px;
  top: 1024px;
  left: 0;
  background-color: transparent;
}

.checkout-with-cash .overlap-group {
  position: relative;
  width: 1440px;
  height: 478px;
  background-color: #000000;
  box-shadow: 0px -71px 55px #0035661f;
}

.checkout-with-cash .text-wrapper {
  position: absolute;
  width: 453px;
  height: 129px;
  top: 182px;
  left: 43px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #f77c01;
  font-size: 113px;
  text-align: center;
  letter-spacing: -2.26px;
  line-height: 135.6px;
  white-space: nowrap;
}

.checkout-with-cash .text-wrapper-2 {
  position: absolute;
  top: 123px;
  left: 595px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
}

.checkout-with-cash .text-wrapper-3 {
  position: absolute;
  top: 118px;
  left: 953px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
}

.checkout-with-cash .text-wrapper-4 {
  position: absolute;
  top: 174px;
  left: 595px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .text-wrapper-5 {
  position: absolute;
  top: 170px;
  left: 953px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .p {
  position: absolute;
  top: 414px;
  left: 1214px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  white-space: nowrap;
}

.checkout-with-cash .text-wrapper-6 {
  position: absolute;
  top: 213px;
  left: 595px;
  font-family: "Lato-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .payment-method-card {
  position: absolute;
  width: 749px;
  height: 151px;
  top: 579px;
  left: 88px;
  background-color: #0035661f;
  border-radius: 25px;
  overflow: hidden;
}

.checkout-with-cash .ellipse-2 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 91px;
  left: 46px;
  background-color: #ffd60a;
  border-radius: 11.5px;
  border: 1px solid;
  border-color: #003566;
}

.checkout-with-cash .text-wrapper-7 {
  position: absolute;
  top: 14px;
  left: 22px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #001d3d;
  font-size: 30px;
  white-space: nowrap;
}

.checkout-with-cash .text-wrapper-8 {
  position: absolute;
  top: 89px;
  left: 78px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #001d3d;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .ellipse-3 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 91px;
  left: 243px;
  background-color: #ffffff;
  border-radius: 11.5px;
  border: 1px solid;
  border-color: #003566;
}

.checkout-with-cash .text-wrapper-9 {
  position: absolute;
  top: 89px;
  left: 275px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #001d3d;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .vector {
  position: absolute;
  width: 700px;
  height: 1px;
  top: 66px;
  left: 24px;
  object-fit: cover;
}

.checkout-with-cash .overlap-6 {
  position: absolute;
  width: 749px;
  height: 327px;
  top: 208px;
  left: 88px;
}

.checkout-with-cash .personal-information {
  position: absolute;
  width: 749px;
  height: 327px;
  top: 0;
  left: 0;
}

.checkout-with-cash .group {
  width: 753px;
  height: 327px;
}

.checkout-with-cash .div-wrapper {
  position: absolute;
  width: 726px;
  height: 79px;
  top: 81px;
  left: 10px;
}

.checkout-with-cash .text-wrapper-10 {
  position: absolute;
  top: 27px;
  left: 36px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #001d3d;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .group-2 {
  position: absolute;
  width: 706px;
  height: 55px;
  top: 175px;
  left: 22px;
}

.checkout-with-cash .text-wrapper-12 {
  position: absolute;
  top: 27px;
  left: 43px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #001d3d;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .text-wrapper-14 {
  position: absolute;
  top: 264px;
  left: 46px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #001d3d;
  font-size: 20px;
  white-space: nowrap;
}

.checkout-with-cash .rectangle-3 {
  position: absolute;
  width: 361px;
  height: 79px;
  top: 246px;
  left: 11px;
}

.checkout-with-cash .overlap-9 {
  position: absolute;
  width: 494px;
  height: 755px;
  top: 202px;
  left: 870px;
}

.checkout-with-cash .header {
  position: absolute;
  width: 1442px;
  height: 107px;
  top: -4px;
  left: 0;
  background-color: transparent;
}

.checkout-with-cash .header-2 {
  position: absolute;
  width: 1440px;
  height: 100px;
  top: 4px;
  left: 0;
  background-color: #000000;
}

.checkout-with-cash .user {
  position: absolute;
  width: 39px;
  height: 44px;
  top: 43px;
  left: 1329px;
}

.checkout-with-cash .text-wrapper-17 {
  position: absolute;
  width: 259px;
  height: 107px;
  top: 0;
  left: 29px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #f77c01;
  font-size: 62.3px;
  text-align: center;
  letter-spacing: -1.25px;
  line-height: 74.8px;
}
