.background-container {
    background-image: url('../../../../assets/images/Menupage.jpg');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Makes the container the full height of the viewport */
    width: 100%; /* Full width */
  }

.card {
    border: 1px solid #e87605; /* Border color */
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-img-top {
    max-height: 150px; /* Adjust for uniformity */
    object-fit: cover;
  }
  
  .card-body {
    background-color: #ffc107; /* Bright yellow background */
    color: black;
  }
  