.background-container {
  background-color: #000000; /* Fallback color */
  background-image: url('../../../../assets/images/Menupage.jpg?v=1');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
}


.card {
    border: 1px solid #e87605; /* Border color */
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-img-top {
    max-height: 150px; /* Adjust for uniformity */
    object-fit: cover;
  }
  
  .card-body {
    background-color: #ffc107; /* Bright yellow background */
    color: black;
  }
  