.reservation-grid {
  padding: 20px;
  text-align: center;
}

.reservation-header h1 {
  font-size: 32px;
  color: white;
  margin-bottom: 10px;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.selected-tables {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #ffa500;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff7f00;
}
