<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UniEats Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Manage Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Configure Systems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">View System Logs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container mt-5">
    <section class="log-display">
        <h2>System Logs</h2>
        <div class="log-content">
            <pre id="logOutput">
                    <!-- Log content will be displayed here -->
                </pre>
        </div>
    </section>
    <section class="timeline-visualization mt-5">
        <h2>Log Timeline</h2>
        <ul class="timeline">
            <li>
                <i class="fa fa-circle"></i>
                <span>2023-02-01 10:00</span>
                <p>System started.</p>
            </li>
            <li>
                <i class="fa fa-circle"></i>
                <span>2023-02-01 11:00</span>
                <p>User logged in.</p>
            </li>
            <li>
                <i class="fa fa-circle"></i>
                <span>2023-02-01 12:00</span>
                <p>Order placed.</p>
            </li>
        </ul>
    </section>
</main>