<header class="navbar">
  <div class="container">
    <h1 class="logo">UniEats</h1>
    <nav>
      <ul class="nav-links">
        <li><a [routerLink]="['/home', id]">Home</a></li>
        <li><a [routerLink]="['/reservation', id]">Reservations</a></li>
        <li><a [routerLink]="['/aboutus', id]">About</a></li>
        <li><a [routerLink]="['/contactus', id]">Contact</a></li>
      </ul>
    </nav>
    <!-- User Icon with Dropdown -->
    <div class="user-icon" (click)="toggleDropdown()">
      <i class="fas fa-user"></i>
      <div class="dropdown-menu" [class.show]="dropdownVisible">
        <ul>
          <li><a [routerLink]="['/profile', id]">Profile</a></li>
          <li><a [routerLink]="['/settings', id]">Settings</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
