.bg-cover {
  background-image: url('../../../../MainBgPage.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 100vw;
  height: 100vh;
}
.icon {
  font-size: 1.2rem;
}

.social-icon {
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  opacity: 0.8;
}

input:focus {
  border-color: #ffd8a1 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 216, 161, 0.25);
}

button:hover {
  background-color: #405d7d !important;
  border-color: #405d7d;
}

.position-absolute {
  pointer-events: none;
}
