.background-container {
  background-image: url('../../../../assets/images/Loginpage.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Makes the container the full height of the viewport */
  width: 100%; /* Full width */
}

.icon {
  font-size: 1.2rem;
  color: black;
}

.social-icon {
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.social-icon:hover {
  opacity: 0.8;
}

input:focus {
  border-color: #ffd8a1 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 216, 161, 0.25);
}

button:hover {
  background-color: #000000 !important;
  color: white !important;
}

.position-absolute {
  pointer-events: none;
}
