.menu-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}

.menu-item-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.review-section {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
}

.review-section textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.review-section select {
  margin-bottom: 5px;
}
